:root{
--background-color : #FBFBFB;
--secondary-color : #E8F9FF;
--first-color: #C4D9FF;
--thrid-color: #C5BAFF;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "lora";
}

.container{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw ;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container__background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  min-width: 80dvw ;
  background-image: url("../assets/images/background-street-2.png") ;
  background-repeat: no-repeat;
  background-size: cover;
}


.container__box:hover{

  padding: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

.container__box-text-quotes{
  color: var(--secondary-color);
  font-style: italic;
  font-size: 1.5rem;
}

.container__box-author-name{
  color: var(--first-color);
  font-size: 1rem;
  text-align: end;
}



