:root{
--background-color : #FBFBFB;
--secondary-color : #E8F9FF;
--first-color: #C4D9FF;
--thrid-color: #C5BAFF;
--dark-color: #000;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "lora";
}

.container{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw ;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container__background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  min-width: 80dvw ;
  background-image: url("../assets/images/background-3.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  border-radius: 20px;
}


.container__box{
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s linear, padding 0.5s ease;
  max-width: 50dvw ;
  max-height: 70dvw ;
  margin: 40px;
  padding: 20px 10px;
  border-radius: 20px;
}


.container__box-text-quotes{
  color: var(--dark-color);
  font-style: italic;
  font-size: 1.5rem;
  width: fit-content;
  text-indent: 20px;
  text-shadow: 2px 2px 5px rgb(138, 136, 136);
  text-wrap: pretty;
}

.container__box-author-name{
  color: var(--dark-color);
  font-size: 1rem;
  text-align: end;
}

.container-btn{
  width: 30%;
  background-color: transparent;
  color: var(--dark-color);
  border: none;
  align-self: center;
  margin-top: 20px;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}



